[F18+]
GoldenScoreTimeInSecs=0
RoundTimeInSecs=240
Weights="-48kg;-52kg;-57kg;-63kg;-70kg;-78kg;+78kg"

[FU13]
GoldenScoreTimeInSecs=0
RoundTimeInSecs=180
Weights="-27kg;-30kg;-33kg;-36kg;-40kg;-44kg;-48kg;-52kg;-57kg;+57kg"

[FU15]
GoldenScoreTimeInSecs=180
RoundTimeInSecs=180
Weights="-33kg;-36kg;-40kg;-44kg;-48kg;-52kg;-57kg;-63kg;+63kg"

[FU18]
GoldenScoreTimeInSecs=0
RoundTimeInSecs=240
Weights="-40kg;-44kg;-48kg;-52kg;-57kg;-63kg;-70kg;-78kg;+78kg"

[M18+]
GoldenScoreTimeInSecs=0
RoundTimeInSecs=240
Weights="-60kg;-66kg;-73kg;-81kg;-90kg;-100kg;+100kg"

[MU13]
GoldenScoreTimeInSecs=0
RoundTimeInSecs=180
Weights="-28kg;-31kg;-34kg;-37kg;-40kg;-43kg;-46kg;-50kg;-55kg;+55kg"

[MU15]
GoldenScoreTimeInSecs=180
RoundTimeInSecs=180
Weights="-34kg;-37kg;-40kg;-43kg;-46kg;-50kg;-55kg;-60kg;-66kg;+66kg"

[MU18]
GoldenScoreTimeInSecs=0
RoundTimeInSecs=240
Weights="-46kg;-50kg;-55kg;-60kg;-66kg;-73kg;-81kg;-90kg;+90kg"

[U11]
GoldenScoreTimeInSecs=60
RoundTimeInSecs=120
Weights=""

[U9]
GoldenScoreTimeInSecs=60
RoundTimeInSecs=120
Weights=""
